<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="https://gitee.com/oauth/authorize?client_id=a571a859130954fe07777486cff184181ac38f6748670dd3c51644145f89896e&redirect_uri=http://127.0.0.1:8030/gitee/callback&response_type=code&status=1">使用gitee登录</a>
<!--    <p>account</p><input type="text" name="account" value="用户名" />-->
<!--    <p>password</p><input type="text" name="password" value="密码" />-->
</body>
<style>
</style>
</html>